doctype html
html
  head
    title National Dance Academy
    block scripts
    block style 
      
  body
    nav#navbar
       ul 
            div#logo
                img(src="/static/logo.jpg")
                | National Dance Academy 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | Copyright © 2019 NationalDanceAcademy.com | All Rights Reserved.